body {
    color: #5f5f5f;
    background-color: #dadada;
}
td {
    color: #5f5f5f;
    background-color: #ffffff;
}
td.txt {
    background-color: #f1f0ee;
}
td.menu {
    background-color: #f3f3f3;
}
td.hd {
    color: #5f5f5f;
    background-color: #e0e0e0;
}
input {
    color: #5f5f5f;
}
.footerbody {
    border-top: #2b825a 1px solid;
    border-bottom: #2b825a 1px solid;
    background: #2b825a none;
    font-size: 11px;
}
.footertd {
    background-color: #2b825a;
    font-size: 11px;
}
.mainMenuBody {
    background: #f3f3f3 none;
}
.menuLink {
    color: #333333;
}
.menuLink:hover {
    color: #ffffff;
    background-color: #1bc390;
}
.menuLink:active {
    color: #e10027;
    background-color: #f3f3f3;
}
.menuLink:focus {
    color: #e10027;
    background-color: #f3f3f3;
}
.menuLink:focus:hover {
    color: #ffffff;
    background-color: #2f7345;
}
.menuCell {
    background-color: #f3f3f3;
}