body {
    font-size: small;
    font-family: "Arial";}
td {
    font-size: small;
    font-family: "Arial";}
td.hd {
    font-weight: bold;
    font-size: small;
    font-family: "Arial"}
tr.hide {
display:none}
input {
    font-size: small;
    font-family: "Arial";}
.menuLink {
    font-weight: bold;
    font-size: small;
    font-family: "Arial";
    cursor: hand;
    text-decoration: none;}